<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>TUGAS GOLANG</title>
</head>

<body>

    <div class="container mt-5">
        <h3>Data Task (TUGAS GOLANG kelas GOL3-2 EKO PRASTIYANTORO)</h3>
        <a href="/task/add" class="btn btn-sm btn-primary">Tambah Data</a>
        <hr/>
        <table class="table table-sriped table-hover">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Assignee</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{ range .data }}
                    <tr>
                        <td>{{ .Task }}</td>
                        <td>{{ .Assignee }}</td>                      
                        <td>{{ .Deadline }}</td>
                        <td>{{ .Status }}</td>
                        <td>
                            {{ if eq .Status "Belum Dikerjakan" }} 
                                <a href="/task/konfirmasi?id={{.Id}}" onclick="return confirm('Sudah selesai dikerjakan?')" class="btn btn-sm btn-primary">Selesai</a>  
                            {{  else }}
                                <a href="/task/konfirmasi?id={{.Id}}" onclick="return confirm('Sudah selesai dikerjakan?')" class="btn btn-sm btn-primary disabled">Selesai</a> 
                            {{ end }} 
                            <a href="/task/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/task/delete?id={{.Id}}" onclick="return confirm('Aapakah anda yakin ingin menghapus data?')" class="btn btn-sm btn-danger">Hapus</a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

</body>

</html>


<!-- tutorial : https://www.youtube.com/watch?v=gHtRBGqXYlA-->